body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  background-color: transparent;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: blue;
}

input[type="submit"] {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #007aff;
}

button {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.black-title {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.home-btn {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.home-btn:hover {
  background-color: #ddd;
}
